@mixin box {
  font-size: 2em;
  font-weight: bold;
  background-color: #939b9f4d;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@mixin row {
  display: flex;
  gap: $gap;
  margin-bottom: $gap;
  text-transform: uppercase;
}

@mixin keybase {
  background-color: #d3d6da;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #56575e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;

  &:active {
    background-color: #818181;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}
