@import '../../styles/mixins.scss';

.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 0 auto;
  gap: 5px;
  border-radius: 15px;
  background: var(--keyboard-bg);
  padding: 1.5em 3em;

  &_key {
    @include keybase;
    width: 50px;
    height: 70px;
  }

  &_enter {
    @include keybase;
    width: 80px;
    height: 70px;
  }

  &_delete {
    @include keybase;
    width: 80px;
    height: 70px;
  }

  &_empty {
    width: 35px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
