@import '../../styles/mixins.scss';

.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 0 auto;
  gap: 5px;
  border-radius: 15px;
  background: #dadce04d;
  padding: 1.5em 3em;

  &_key {
    @include keybase;
    width: 50px;
    height: 70px;
  }

  &_enter {
    @include keybase;
    width: 80px;
    height: 70px;
  }

  &_delete {
    @include keybase;
    width: 80px;
    height: 70px;
  }

  &_empty {
    width: 35px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.correct {
  background-color: #4caf50;
  border: #4caf50 solid 2px;
  color: black;
}

.present {
  background-color: #e5f321;
  border: #e5f321 solid 2px;
  color: black;
}

.absent {
  background-color: #aaa;
  border: #aaa solid 2px;
  color: black;
}