@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.correct {
  @include box;
  background-color: var(--green);
  color: var(--white);
}

.present {
  @include box;
  background-color: var(--yellow);
  color: var(--white);
}

.absent {
  @include box;
  background-color: var(--absent-gray);
  color: var(--white);
}

.empty {
  @include box;
  background-color: var(--empty-gray);
}
.edit {
  @include box;
}
