@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.correct {
  @include box;
  background-color: #66a060;
  color: #fff;
}

.present {
  @include box;
  background-color: #ceb02c;
  color: #fff;
}

.absent {
  @include box;
  background-color: #939b9F;
  color: #fff;
}

.empty {
  @include box;
  background-color: #939b9f4d;
}
.edit {
  @include box;
}
